/** {
    box-sizing: border-box;
    border: 1px solid red;
}*/

body {
    /*margin-top: 63px;
    margin-right: 100px;*/
    padding-top: 10px;
    font-family: "Lato", sans-serif;
}

/*div.container {
    margin-left: 400px;
}*/

.container {
	float: right;
	width: 70%;
	padding-top: 49px;

}

/*p.articletext {
    color: white;
    font-family: Lato, Calibri, Arial, san-serif;
    font-size: 19px;
    font-weight: 300;
}*/

.post {
	position: relative;
	float: right;
	line-height: 1.4em;
	width: 700px;
	box-sizing: border-box;
	padding: 20px 35px 40px 35px;
	background-color: rgb(128,192,233);
	color: white;
	margin-bottom: 15px;
	margin-right: 155px;
	border-radius: 5px;
	transition: all .8s ease;
}

.post p {
	font-size: 17px;
	font-weight: 300;
}

.arrow-left {
	position: absolute;
	left: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-right:10px solid rgb(128,192,233);
	transition: all .8s ease;
}

/*article.ricebean {
    background-color: #80C0E9;
    width: 714px;
    height: 362px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 16px;
    padding:16px;
    color: white;
    font-family: Lato, Calibri, Arial, san-serif;
    font-size: 19px;
    font-weight: 300;

}*/

/*article.greenradish {
    background-color: #5aa2c9;
    width: 714px;
    height: 262px;
    margin-left: 400px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    maring-bottom: 16px;
    border-radius: 5px;
    padding:16px;
    color: white;
    font-family: Lato, Calibri, Arial, san-serif;
    font-size: 19px;
    font-weight: 300;

}*/

/*aside.left-side {
    position: relative;
    float: left;
    width:400px;
    text-align: right;
}*/

.left-side {
	float: left;
	width: 30%;
}

hr {
    /* hr.style-two { */
    border: 1px;
    height: 1px;
    border-color: white;
    background-color: white;
    /*background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));*/

}


/*.fa {
    display: inline-block;
    border: 8px solid #5aa2c9;
    border-radius: 50%;
    background-color: #80C0E9;
    width: 50px;
    height: 50px;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
}

.fa-desktop {
    display: inline-block;
    border: 8px solid #5aa2c9;
    border-radius: 50%;
    background-color: #80C0E9;
    width: 50px;
    height: 50px;
    font-size: 32px;
    line-height: 55px;
    text-align: center;

}*/

.fa {
	float: right;
	background-color: rgb(80,150,198);
	vertical-align: bottom;
	display:inline-block;
    font-size: 22px;
    line-height: 36px;
    color:white;
    width: 36px;
    height: 36px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 50%;
    border: 7px solid rgb(176,215,241);
    clear: both;
    margin: 0;
    transition: all .8s ease;
}

.fa, .verticalline1, .verticalline2 {
	position: relative;
	top: -60px;
}

.verticalline1, .verticalline2 {
	background-color: rgb(176,215,241);
	width: 9px;
	float: right;
	clear: both;
	position: relative;
	right: 20px;
	margin: 0;
}

.verticalline1 {
	height: 300px;
}

.verticalline2 {
	height: 210px;
}

/*.verticalline {
    border-left: 10px solid #5aa2c9;
    margin-left: 364px;
}*/

/*div.date {
    float: right;
    margin-right: 50px;
    max-width: 150px;
    font-family: Lato, Calibri, Arial, san-serif;
    font-size: 14px;
}*/

/*div.time {
    float: right;
    margin-right: 50px;
    max-width: 150px
    font-family: Lato, Calibri, Arial, san-serif;
    font-size: 24px;
}*/

.times {
	float: right;
	position: relative;
	right: 60px;
	top: 35px;
	line-height: 0;
}

#times2 {
	top: 240px;
	right: 50px;
}

.checkpoint p {
	color: rgb(202,202,202);
	font-weight: 700;
	font-size: .9em;
	position: relative;
	right: -50px;
}

.checkpoint h2 {
	color: rgb(128,192,233);
	font-size: 2.5em;
	font-weight: 400;
	transition: all .8s ease;
}
h1 {
    font-family: Lato, Calibri, Arial, san-serif;
    font-size: 28px;
    font-weight: bold;
}

/*div.blue-circle {
    max-width: 50px;
    float: right;
    margin-right: 14px;
}*/
